.post {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    margin: 30px auto;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
    align-items: center;
    transition: 0.2s;
}

.post:hover {
    box-shadow: var(--box-shadow-hover);
    transition: 0.2s;
}

.post .title {
    width: 98%;
    font-size: 25px;
    font-weight: bold;
    list-style: none;
    padding: 10px 10px;
    background-color: var(--color-foreground);
}
.post img {
    display: block;
    padding: 20px 0;
    object-fit: cover;  
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}
.under-info{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px 0px;
}
.under-info p{
    font-weight: bold;
    
}
.chat-icon {
    padding-right: 10px;
    position: relative; 
    top: 4px;
}

.comments, .subreddit-from{
    transition: 0.2s;
    padding: 5px
}
.comments:hover, .subreddit-from:hover{
    transition: 0.2s;
    background-color: var(--color-secondary);
    color: var(--color-background);
    cursor: pointer;
    border-radius: var(--radius);
}