:root{
  --color-background: #3f3f3f;
  --color-comments: #1f1f1f;
  --color-foreground: #e9e7e7bf;
  --color-secondary: #ff4300;
  --color-tertiary: #1e66b8;
  --color-hover: #fff;
  --box-shadow: 2px 2px 2px #000000;
  --box-shadow-hover: 2px 2px 20px #000000;
  --radius: 5px;
}

.App {
  text-align: center;
  color: #fff;
  
}
body{
  background-color: #1f1f1f;
}
button {
  border: none;
  background: none;
}

input:focus{
  outline: none;
  border: 2px solid var(--color-secondary);
  box-shadow: 0 0 5px var(--color-secondary);
  border-radius: var(--radius);
}