:root{
  --color-background: #fff;
  --color-foreground: #e9e7e7bf;
  --color-secondary: #ff4300;
  --box-shadow: 5px 5px 10px rgb(164, 164, 167);
  --box-shadow-hover: 10px 10px 10px rgb(164, 164, 167);
  --radius: 5px;
}

.App {
  text-align: center;
}
body{
  background-image: url('./image/Untitled\ design\(3\).png');
  background-repeat: repeat-y;
  background-size: 100%;
}
button {
  border: none;
  background: none;
}

input:focus{
  outline: none;
  border: 2px solid var(--color-secondary);
  box-shadow: 0 0 5px var(--color-secondary);
  border-radius: var(--radius);
}